<div class="relative bg-gray-500 overflow-hidden text-white hidden grid-cols-3 lg:grid gap-4 py-5 lg:block">
  <div class="text-center">Copyright © 2020. All Rights Reserved.</div>
  <div class="col-span-2">
    <div class="flex space-x-3 justify-between">
      <div class="grid grid-cols-6 gap-2">
        <p>HOME</p>
        <p>FEATURES</p>
        <p>TERMS</p>
        <p>PRIVACY</p>
        <p>CONTACT US</p>

        <div class="flex gap-6 ml-6">
          <img src="../../../assets/img/facebook (1).png" />
          <img src="../../../assets/img/twitter.png" />
          <img src="../../../assets/img/instagram.png" />
        </div>
      </div>  
    </div>
  </div>
</div>
