
<div class="bg-gray-mid py-8 px-4 overflow-hidden sm:px-6 lg:px-8 lg:pt-16 lg:pb-6 rounded-lg">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="rounded-md bg-green-50 p-4" *ngIf="isSuccess">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/check-circle -->
        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <p class="text-sm font-medium text-green-800">
          Successfully Uploaded! Go back to see user details.
        </p>
      </div>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button (click)="toggleSuccess()" type="button" class="inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: solid/x -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="relative max-w-xl mx-auto lg:pt-8">
    <div class="text-center hidden lg:block">
      <h2 class="text-xl font-extrabold tracking-normal text-gray-900 sm:text-2xl">
        We'll be in touch to get your trial set up.
      </h2>
      <p class="mt-4 text-sm leading-6 text-gray-500">
        Fill Out Form
      </p>
    </div>
    <p class="text-center lg:hidden block text-teal-400 font-semibold">Fill Out details</p>
    <div class="mt-2">
      <form class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8 z-50" [formGroup]="userForm">
        <div class="flex w-100  col-span-2 gap-2">
        <div>
          <div class="mt-1">
            <input formControlName="firstName" type="text" name="first_name" id="first_name" autocomplete="given-name" class="py-2 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md placeholder-black placeholder-opacity-100 z-50" placeholder="First Name *">
            <p *ngIf="!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched" class="mt-2 text-sm text-red-600" id="name-error">Please enter your First Name</p>
          </div>
        </div>
        <div>
          <div class="mt-1">
            <input formControlName="lastName" type="text" name="last_name" id="last_name" autocomplete="family-name" class="py-2 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md placeholder-black placeholder-opacity-100" placeholder="Last Name *">
            <p *ngIf="!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched" class="mt-2 text-sm text-red-600" id="name-error">Please enter your Last Name</p>
          </div>
        </div>
      </div>
        <div class="col-span-2">
          <div class="mt-1">
            <input formControlName="email" id="email" name="email" type="email" autocomplete="email" class="py-2 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md placeholder-black placeholder-opacity-100" placeholder="Work Email *">
            <p *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched" class="mt-2 text-sm text-red-600" id="name-error">Please enter a valid Email Address</p>
          </div>
        </div>
        <div class="col-span-2">
          <div class="mt-1">
            <input formControlName="budget" id="budget" name="budget" type="number" autocomplete="number" class="py-2 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md placeholder-black placeholder-opacity-100" placeholder="Monthly Advertising Budget *">
            <p *ngIf="!userForm.controls['budget'].valid && userForm.controls['budget'].touched" class="mt-2 text-sm text-red-600" id="name-error">Please enter a valid budget figure</p>
          </div>
        </div>
        <div class="col-span-2">
          <label for="phone_number" class="block text-sm font-medium text-gray-700">Phone Number</label>
          <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 left-0 flex items-center">
              <label for="country" class="sr-only">Country</label>
              <select id="country" name="country" class="h-full py-0 pl-4 pr-8 border-transparent bg-transparent text-gray-500 focus:ring-indigo-500 focus:border-indigo-500 rounded-md">
                <option>Romania (Roman)</option>
                <option>CA</option>
                <option>EU</option>
              </select>
            </div>
            <input formControlName="phone" type="number" name="phone_number" id="phone_number" autocomplete="tel" class="py-2 px-4 block w-full pl-44 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" placeholder="+1 (555) 987-6543">
            
          </div>
          <p *ngIf="!userForm.controls['phone'].valid && userForm.controls['phone'].touched" class="mt-2 text-sm text-red-600" id="name-error">Please enter a valid number</p>
        </div>
      </form>
      <div class="col-span-2 mt-6">
        <button (click)="submitForm()" [disabled]="!userForm.valid" class="w-full button inline-flex items-center justify-center px-6 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          GET FREE TRIAL
        </button>
        <p *ngIf="isSuccess" class="mt-2 text-sm text-green-600 text-center" id="form-success">Successfully Uploaded! Go back to see user details.</p>
      </div>
    </div>
  </div>
</div>
