<div class="relative bg-gradient-to-b from-blue-top via-blue-mid to-blue-bottom overflow-hidden py-10 text-white">
  <div class="flex lg:flex-row flex-col gap-4 content-center my-10">
    <div *ngFor="let testimonial of testimonialList">
      <div class="flex mx-auto justify-center gap-16 lg:-ml-10 mt-6 lg:mt-0">
        <img src="../../../assets/img/Icon material-format-quote.png"/>
        <h4 class="text-normal mr-8 -ml-8 w-36">"{{testimonial.quoteText}}"</h4>
      </div>
      <p class="text-sm w-2/3 mx-auto my-8">
        "{{testimonial.comment}}"
      </p>
      <div class="flex mx-auto justify-center lg:-ml-24 -ml-16 space-x-2">
        <img src="{{testimonial.imageUrl}}" class="rounded-full h-16 w-16"/>
        <div>
          <p><strong>{{testimonial.fullName}}</strong></p>
          <p class="text-sm"><em>{{testimonial.role}}</em></p>
        </div>
      </div>
    </div>
  </div>
</div>